{% extends "AppCoder/padre.html" %}


{% load static %}

{% block titulo %}

<h1 class="mb-5">Acerca de mi</h1>


{% endblock %}


{% block parrafo %}

<h4>Mi nombre es Rodrigo Bravo. Soy estudiante de Coderhouse y esta es mi primera página web.
    <br>
    <br>
    Vivo en Buenos Aires, estoy en pareja con Celeste y tenemos una pequeña hija llamada Clara.
    <br>
    <br>
    Soy Contador Público Nacional y trabajo en la industria petrólera.
    <br>
    <br>
    Comencé el camino de la programación luego de la pandemia y espero continuar aprendiendo.
    <br>
    <br>
    Mi idea a futuro es dedicarme a la Ciencia de Datos.
    <br>
    <br>
    Espero que disfruten de esta página porque el fútbol es mi gran pasión!!!
</h4>

{% endblock %}